.headerAdmin{
    text-align: right;
    height: 25px;
    font-size: 18px;
    padding-right: 50px;
}

.navAdmin{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

.navAdmin .nav-item{
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navAdmin a{
    color: black;
}